.noto-serif-regular> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-regular> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.primary-color{
    color:black;
}
.secondary-color{
    color: rgba(0, 0, 0, 0.5);
}
.tersiary-color{
    color: #E95A08;
}
.btn-primary{
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    padding: 19px 80px;
    color: white;
    border: none;
}

/* header styles */
/* nav styles */
.nav{
    display: flex;
    gap: 550px;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
    height: 70px;
    margin: 20px 150px 0;

}
.nav-bar{
    display: flex;
    gap: 48px;
    text-decoration: none;
    list-style: none;
}
.nav-home {
    font-weight: bold;
    color: black;
}
.nav-cart{
    color: black;
}
.nav-shop, .nav-about-us{
    font-weight: normal;
    color: #8987A1;
}
/* banner styles */
.banner{
    display: flex;
    gap: 0;
    align-items:end;
    max-width: 1140px;
    margin: 120px 150px;
    margin-top: 0;

}
.banner-description{
    margin-top: 160px;

}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-size: 1.50rem;
    margin-bottom: 0;
}
.banner-pro-pic{
    margin-top: 100px;
} 
/* main styles */
/* our plants styles */
.our-plants{
    max-width: 1140px;
    margin: 120px 150px;
}
.our-plants-description{
    text-align: center;
}
.our-plants-title {
    font-weight: bold;
    font-size: 3rem;
}
.our-plants-sub-title {
    font-size: 1.25 rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1140px;
    text-align: center;
    
}
.card-name{
    font-size: 1.5 rem;
}
.card-price{
    font-size: 1.25rem;
    font-weight: bold;
}
/* lover section styles */
.flower-lover-section{
    display: flex;
    gap: 60px;
    max-width: 1140px;
    margin: 200px 150px 0px;
}
#badge{
    width: 286px;
    height: 286px;
    margin-left: -220px;
    margin-top: -150px;
}
.lover-title {
    font-size: 3rem;
    font-weight: bold;
}
.lover-description{
    font-size: 1.5rem;

}
.flower-lover-section-description{
    margin-top: -100px;
}
main ul li{
    margin-bottom: 30px;
}
/* deals section styles */
.deal-description{
    max-width: 1440px;
    text-align: center;
}
.deals-title{
    font-size: 3rem;
    font-weight: bold;
}
.deals-desc{
    font-size: 1.5rem;
}
.deal-card{
    max-width: 1140px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 150px;
}
.deal-card-row{
     display: flex;
     flex-direction: column;
     gap: 20px;
    
}
.deal-card-1{
    width: 367px;
    height: 200px;
    border-radius: 14px;
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    justify-content: center;
}


.deal-card-2{
    width: 367px;
    height: 200px;
    border-radius: 14px;
    background-image: url(assets/deal-ana.png);
    
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    justify-content: center;
}
.deal-card-3{
    width: 753px;
    height: 418px;
    border-radius: 22px;
    background-image: url(assets/deal-zabo.png); 
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    justify-content: center;
}
.deal-title{
    font-size: 1.25rem;
    font-weight: bold;
}
.shop{
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
.deal-title-3{
    font-size: 2.5rem;
    font-weight: bold;
}
.shop-3{
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
}
/* join section styles */
.join-section{
    background-image: url(assets/news-letter-bg.png);
    max-width: 1440px;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    
} 
.join-title{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
}
#email-input{
    width: 644px;
    height: 50px;
}
/* footer styles */
.footer{
    max-width: 1440px;
    display: flex;
    gap: 100px;
     
    margin: 50px  160px;
}
.footer-desc{
    width: 360px;
    height: 180px;

}
.footer-about{
    display: flex;
    flex-direction: row;
    gap:100px;
}
.about-1{
    width: 85px;
    height: 248px;
    margin-bottom: 3px;
    margin-top: 5px;
}
.about-2{
    margin-top: 10px;
}
 
 

footer li{
    list-style: none;
    margin-bottom: 3px;

}
.icon{
    display: flex;
    gap: 24px;
    width: 216px;
    height: 36px;
}




/* Responsive styles */
@media screen and (max-width: 576px) {
    .nav{
        gap: 300px;
        margin: 13px 16px 28px;
    }
    .nav-home, .nav-shop, .nav-about-us {
        display: none;
    }
    .nav-cart{
        height: 24px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 0;
        margin: 16px;
    }
    .banner-description{
        text-align: left;
        margin: 16px;
    }
    .banner-pro-pic{
        width: 100%;
    }
    .our-plants{
        width: 100%;
        text-align: center;
        
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        width: 100%;
        margin-left: -40px;

    }
    .flower-lover-section{
        flex-direction: column;
        width: 100%;
        margin: 16px;
    }
    .flower-lover-section-description{
        text-align: left;
    }
    #badge{
        display: none;
    }
    .deals-section{
        width: 576px;
        margin: 16px;
         
       
    }
    .deal-description{
        
        text-align: center;
         
    }
    .deal-card{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 10px;
    }
    .deal-card-1{
         width: 367px;
        height: 180px;

    } 
    .deal-card-2{
         width:  367px;
        height: 180px;

    } 
    .deal-card-3{
        width:  367px;
        height: 180px;
    }
    .deal-title-3{
        font-size: 1.25rem;
    font-weight: bold;

    }
    .shop-3{
        font-size: 1rem;
    font-weight: 500;
    color: white;
    }
    .join-section{
        width: 576px;
    }
    #email-input{
    width: 218px;
    height: 50px;
    }
    .footer{
        flex-direction: column;
        gap: 0;
        margin-left: 4px;
    }
    .footer-about{
        display:  flex;
        flex-direction: column;
        gap: 10px;
    
    }
    .about-2{
        margin-top: -160px;
        margin-bottom: 20px;
    }
    
}